{% extends 'base.html' %}
{% block title %} | Password Reset Requested {% endblock %}
{% block content %}
    <p>This is supposed to be the page you see when you've requested your password to be reset.</p>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    <p>If this email exists, instructions have been sent to you to reset your password.</p>
    <p>Please check your junk or spam mail if you do not see it.</p>
{% endblock %}