{% extends 'base.html' %}
{% block title %} | Reset Password {% endblock %}
{% block content %}
    <p>This is supposed to be the reset password page.</p>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    <div class="form">
        <form class="form" method="post">
            {% csrf_token %}
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
            <button type="submit">Request Password Reset</button>
        </form>
    </div>
{% endblock %}